
{% extends "base.html" %}
{% block title %}Gestion Credit{% endblock %}
{% block content %}

<div class="my-5 col-9 box-form">
  <form action="/credits/" method="post">
    {% csrf_token %}
    <div>
      <h3 class="p-4 titel-form">Nouveau Crédit</h3>
      <div style="font-weight: 700;" class="text-center">
        Avec cette page vous pouvez Affecter des Credits à des Clients
      </div>
      <div class="row py-4">
        <div class="col-2"></div>
        <div class="col-4">
          <select name="client" class="input-add"
            aria-label=".form-select-lg example">
            <option>Choisir Client</option>
            {% for client in clients %}  
            <option value="{{client.id}}">{{client.name}}</option>
            {% endfor %} 
          </select>
        </div>
        <div class="col-2">
          <input name="quantite" placeholder="Quantite" class="input-add" type="text">
          <span style="font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 30px;"> à</span>
        </div>
        <div class="col-4">
          <select name="product" class="input-add"
            aria-label=".form-select-lg example">
            <option>Choisir Produit</option>
            {% for product in products %}
            <option value="{{product.id}}">{{product.name}}</option>
            {% endfor %}
          </select>
        </div>
       
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <button type="submit" style="background: rgba(0, 0, 0, 0.73);color: #FFFFFF; border:1px solid #000000;"
            class="input-add">Ajouter</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
