{% extends "base.html" %}
{% block title %}Gestion Client{% endblock %}
{% block content %}
<div class="my-5 col-9 box-form">


    <div class="row">
        <div class="col-6">
            <h3 class="p-2 pt-4 titel-form">Gestion Client</h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <form action="/clients/search">
                <input class="input-add m-2 recherche-form" value="{{search}}" placeholder="Rechercher un client" name="name" type="text">
            </form>
        </div>
    </div>
    <div style="padding: 4px;" class="row py-4">
        <!-- start table -->
        <table class="table table-borderless">
            <thead>
                <tr class="tr-show tr-title">
                   
                    <th scope="col">Nom && Prenom</th>
                    <th scope="col">Addresse</th>
                    <th scope="col">Telephone</th>
                    <th scope="col ">Action</th>

                </tr>
                <tr style="height: 15px;">

                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr class="tr-show">
                   
                    <td>{{ client.name }}</td>
                    <td>{{ client.addresse }}</td>
                    <td>{{ client.phoneNumber }}</td>

                    <td>

                        <div class="row">
                            
                            <div class="col-6">
                                <!-- start editer -->
                                <a href="edit/{{ client.id }}">
                                    <button class="w-100 btn btn-success text-white "
                                        type="submit" style="font-size: 10px;border-radius: 15px;">
                                        EDITER
                                    </button>
                                </a>
                                <!-- end editer -->

                            </div>
                            <div class="col-6">
                                <!-- start delete -->
                                <a href="delete/{{ client.id }}">
                                    <button class="w-100 btn btn-danger text-white "
                                        type="submit" style="font-size: 10px;border-radius: 15px;">
                                        Supprimer
                                    </button>
                                </a>
                                <!-- end delete -->

                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height: 5px;">

                </tr>
                {% endfor %}




            </tbody>
        </table>
        <!-- end table -->
    </div>

</div>
{% endblock %}
